.card {
	margin-bottom: 10px;

	.data-render {
		float: right
	}

	.cardContent {
		display: flex;
		justify-content: space-between;
	}

	.font-color {
		color: #5d5d5d;
	}
}

.can-show {
	text-align: center;
}

.data-logo {
	display: flex;
	justify-content: space-between;
}
.data-description{
	margin-left: 20px;
}
