<div>
	<div class="toolbarView">
		<div class="m-subheader ">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
						<li class="m-nav__item">
							<button type="button" (click)="gridIcon()" class="btn m-btn--pill m-btn--air btn-metal"><i class="fa fa-th" [ngClass]="{'onActive':!isValue}">{{ 'list.listview' | translate}}</i></button>
						</li>
						<li class="m-nav__item">
							<button type="button" (click)="icon()" class="btn m-btn--pill m-btn--air btn-metal"><i class="fa fa-id-badge" [ngClass]="{'onActive':isValue}">{{ 'list.gridview' | translate}}</i></button>
						</li>
					</ul>
				</div>
				<div>
					<div class="m-dropdown__wrapper" style="z-index: 101;">
						<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
						<div class="m-dropdown__inner">
							<div class="m-dropdown__body">
								<div class="form-group m-form__group">
									<select class="form-control m-input" [(ngModel)]="selectedView" (ngModelChange)="changeView()">
										<option [value]="'mobile'">{{ 'view.phoneview' | translate}}</option>
										<option [value]="'i-pad'">{{ 'view.ipadView' | translate}}</option>
										<option [value]="'desktop'">{{ 'view.desktop' | translate}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
	<div class="form-io-altered container-fluid">
		<form-builder [form]="form" (change)="onChange($event)"></form-builder>
	</div>
	<pre id="json"><code class="language-json" #json></code></pre>
</div>
