.action {
    button {
      all: unset;
      text-transform: uppercase;
      padding: 10px 18px;
      color: #46d964;
      margin-left: auto;
      cursor: pointer;
      min-width: 54px;
      text-align: center;
    }
  }
  .cancel {
      color: black;

  }
  