<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
	<!-- BEGIN: Horizontal Menu -->
	<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
	<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general m-stack--fluid">
		<div class="m-stack__item m-topbar__nav-wrapper">
			<ul class="m-topbar__nav m-nav m-nav--inline languageSelection">
				<li class="m-nav__item m-topbar__languages m-dropdown m-dropdown--small m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--mobile-full-width" m-dropdown-toggle="click" aria-expanded="true">
					<m-language-selector class="languageSelector"></m-language-selector>
				</li>
			</ul>
		</div>
		<div class="m-stack__item m-topbar__nav-wrapper">
			<ul class="m-topbar__nav m-nav m-nav--inline" >
				<li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click" aria-expanded="true">
					<a href="#" class="m-nav__link m-dropdown__toggle">
						<span class="m-topbar__userpic">
							<img [src]="(userInfo.response.profileImageUrl)" class="m--img-rounded user-image" alt="">
						</span>
						<span class="m-topbar__username m--hide">Nick</span>
					</a>
					<div class="m-dropdown__wrapper" style="z-index: 101;">
						<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 12.5px;"></span>
						<div class="m-dropdown__inner">
							<div class="m-dropdown__header m--align-center" style="background: url(./assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
								<div class="m-card-user m-card-user--skin-dark">
									<div class="m-card-user__pic">	
										<img [src]="(userInfo.response.profileImageUrl)" class="m--img-rounded m--marginless " alt="">
									</div>
									<div class="m-card-user__details">
										<span class="m-card-user__name m--font-weight-500">{{userInfo.response.name}}</span>
										<div class="m-card-user__email m--font-weight-300">{{userInfo.response.email}}</div>
									</div>
								</div>
							</div>
							<div class="m-dropdown__body">
								<div class="m-dropdown__content">
									<ul class="m-nav m-nav--skin-light">
										<li class="m-nav__section m--hide">
											<span class="m-nav__section-text">Section</span>
										</li>
										<li class="m-nav__separator m-nav__separator--fit">
										</li>
										<li class="m-nav__item logout">
											<a href="login" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder" (click)="logout()">Logout</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>
	<!-- END: Topbar -->
</div>
