<div class="row">
	<div class="col-md-12">
		<div class="m-portlet m-portlet--tab">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<h3>Add New Role</h3>
				</div>
			</div>
			<form class="m-form m-form--fit m-form--label-align-right" id="addUserForm" autoComplete="off" [formGroup]="addNewRoleForm" (ngSubmit)="onsubmit(addNewRoleForm.value)">
				<div class="m-portlet__body">
						<mat-form-field appearance="outline" class="col-md-6">
							<mat-label>FristName</mat-label>
							<input type="text" matInput placeholder="Name" [formControl]="addNewRoleForm.controls['fristName']">
							<mat-error *ngIf="!addNewRoleForm.controls['fristName'].valid && addNewRoleForm.controls['fristName'].touched">
								Please enter a FirstName
							</mat-error>
						</mat-form-field>
						<mat-form-field appearance="outline" class="col-md-6">
							<mat-label>LastName</mat-label>
							<input type="text" matInput placeholder="Name" [formControl]="addNewRoleForm.controls['lastName']">
							<mat-error *ngIf="!addNewRoleForm.controls['lastName'].valid && addNewRoleForm.controls['lastName'].touched">
								Please enter a LastName
							</mat-error>
						</mat-form-field>
						<mat-form-field class="col-md-6">
							<mat-label>Gender</mat-label>
							<mat-select disableRipple [formControl]="addNewRoleForm.controls['user_gender']"> 
								<mat-option value="1">Male</mat-option>
								<mat-option value="2">Female</mat-option>
							</mat-select>
							<mat-error *ngIf="!addNewRoleForm.controls['user_gender'].valid && addNewRoleForm.controls['user_gender'].touched">
									Please Select Gender
								</mat-error>
						</mat-form-field>

						<mat-form-field appearance="outline" class="col-md-6">
							<mat-label>Dob</mat-label>
							<input matInput type="date" [formControl]="addNewRoleForm.controls['dob']" [max]="maxDate" (change)="dateChange($event.target.value)" id="birthdate">
							<mat-error *ngIf="!addNewRoleForm.controls['dob'].valid && addNewRoleForm.controls['dob'].touched">
								Please enter Dob
							</mat-error>
						</mat-form-field>
					<mat-form-field appearance="outline" class="col-md-12">
						<mat-label>Email</mat-label>
						<input matInput placeholder="email" type="email" [formControl]="addNewRoleForm.controls['email']">
						<mat-error *ngIf="!addNewRoleForm.controls['email'].valid && addNewRoleForm.controls['email'].touched">
							Please enter Email
						</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline" class="col-md-12">
						<mat-label>Mobile Numebr</mat-label>
						<input matInput placeholder="mobile" type="email" [formControl]="addNewRoleForm.controls['mobile']">
						<mat-error *ngIf="!addNewRoleForm.controls['mobile'].valid && addNewRoleForm.controls['mobile'].touched">
							Please enter Mobile Number
						</mat-error>
					</mat-form-field>

				</div>
				<div class="m-portlet__foot m-portlet__foot--fit">
					<div class="m-form__actions">
						<button type="submit" class="btn btn-success mr-2" [disabled]="addNewRoleForm.invalid">Save
						</button>
						<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
					</div>
				</div>
			</form>
			<!--end::Form-->
		</div>
	</div>
</div>
