<div class="row">
	<div class="col-md-12">
		<div class="m-portlet m-portlet--tab">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<h3>Add New Role</h3>
				</div>
			</div>
			<form class="m-form m-form--fit m-form--label-align-right" id="addUserForm" autoComplete="off" [formGroup]="addNewRoleForm" (ngSubmit)="onsubmit(addNewRoleForm.value)">
				<div class="m-portlet__body">
					<div class="row">
						<div class="form-group m-form__group col-6 text-type">
							<label for="exampleInputEmail1"> FristName</label>
							<input type="text" class="form-control m-input m-input--square" id="add-user-email" placeholder="Name" [formControl]="addNewRoleForm.controls['fristName']">
							<!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
							<mat-error *ngIf="!addNewRoleForm.controls['email'].valid && addNewRoleForm.controls['email'].touched">
								Please enter a FirstName
							</mat-error>
						</div>
						<div class="form-group m-form__group col-6">
							<label for="exampleInputEmail1">LastName</label>
							<input type="text" class="form-control m-input m-input--square" id="add-user-email" placeholder="Name" [formControl]="addNewRoleForm.controls['lastName']">
							<!-- <span class="m-form__help">We'll never share your email with anyone else.</span> -->
							<mat-error *ngIf="!addNewRoleForm.controls['lastName'].valid && addNewRoleForm.controls['lastName'].touched">
								Please enter a LastName
							</mat-error>
						</div>
					</div>
					<div class="row">
						<div class="form-group m-form__group col-6 text-type">
							<label for="exampleSelect1">Gender</label>
							<select class="form-control m-input m-input--square" [formControl]="addNewRoleForm.controls['user_gender']">
								<option>Male</option>
								<option>Female</option>
							</select>
						</div>
						<div class="form-group m-form__group col-6">
							<label for="exampleSelect1">Dob</label>
							<input type="date" class="form-control m-input m-input--square" id="add-user-email" placeholder="date" [formControl]="addNewRoleForm.controls['dob']" [max]="maxDate" (change)="dateChange($event.target.value)" id="birthdate">

						</div>
					</div>
					<div class="form-group m-form__group row">
						<label for="exampleInputPassword1">Email</label>
						<input class="form-control m-input m-input--square" id="add-user-password" placeholder="email" type="email" [formControl]="addNewRoleForm.controls['email']">
						<mat-error *ngIf="!addNewRoleForm.controls['email'].valid && addNewRoleForm.controls['email'].touched">
							Please enter Email
						</mat-error>
					</div>
					<div class="form-group m-form__group row">
						<label for="exampleInputPassword1">Mobile Numebr</label>
						<input class="form-control m-input m-input--square" id="add-user-password" placeholder="mobile" type="email" [formControl]="addNewRoleForm.controls['mobile']">
						<mat-error *ngIf="!addNewRoleForm.controls['mobile'].valid && addNewRoleForm.controls['mobile'].touched">
							Please enter Mobile Number
						</mat-error>
					</div>

				</div>
				<div class="m-portlet__foot m-portlet__foot--fit">
					<div class="m-form__actions">
						<button type="submit" class="btn btn-success mr-2" [disabled]="addNewRoleForm.invalid">Save
						</button>
						<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
					</div>
				</div>
			</form>
			<!--end::Form-->
		</div>
	</div>
</div>
