.add-new-user {
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;

	.example-full-width {
		width: 97%
	}
}


.mat-tree-save {
	padding: 10px;
}

.example-tree-invisible {
	display: none;
}

.example-tree ul,
.example-tree li {
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.example-tree {
	display: flex;
	justify-content: space-between;
	padding:20px;
}
