.user-management {
	display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.permision {
	display: flex;
	justify-content: space-between;
}

.user-data {
	display: flex;
	justify-content: space-between;
}
